extends ../template/splash-page
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1 General Everyday Task
      a(href='/general/new').button.expand.radius.alert Create Task
  .row
    .small-12.columns
      #generals
        each general in generals
          .generals(data-id=general.id)
            h3.title= general.title
            h5.titles Date:
            p.date= general.date
            h5.titles Time
            p.time= general.time
            h5.titles Description
            p.content= general.content
            .small-6.columns
              a.button.tiny.radius.alert.expand(href='/general/#{general.id}/edit') Edit
            .small-6.columns
              form(action='/general/#{general.id}', method='post')
                input(type='hidden', name='_method', value='delete')
                button.tiny.radius.alert.expand(type='submit') Delete


