#the-application(class=user ? '' : 'hidden')
  form(action='/entry/#{appointment.isNew ? "" : appointment.id}', method='post')
    if !appointment.isNew
      input(type='hidden', name='_method', value='put')
    fieldset
      legend= title
      .row
        mixin field(4, 'title', 'Title', appointment.title, null, true)
        mixin field(4, 'date', 'Date', appointment.date, null, false)
        .small-4.columns
      .row
        .small-12.columns
          label(value=appointment.content) Content
          textarea#content(name='content')=appointment.content
      .row
        .small-2.columns.small-offset-8: a.button.radius.alert.small.expand(href='/entry') Cancel
        .small-2.columns: button.radius.success.small.expand(type='submit') Save Changes