extends ../template/splash-page
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1 Your Groups
  .row
    .small-7.columns
      h3 Contacts
    .small-1.columns
      a(href='/contact').button.expand.radius.alert ←
    .small-2.columns
      h3 Add Group
    .small-2.columns
      a(href='/contact/groups').button.expand.radius.alert +
  .row
    .small-12.columns
      #contact-display
        each contact in contacts
          .contact-wrapper
            h2.groups= contact.groups
            h4.names: a(href='/contact/#{contact.id}')= contact.name
            form(action='/contact/#{contact.id}', method='get')
                  button.tiny.radius.alert(type='submit') Details
            p .
            form(action='/contact/#{contact.id}', method='post')
                  input(type='hidden', name='_method', value='delete')
                  button.tiny.radius.alert(type='submit') Delete
            p .
            a.button.tiny.radius.alert(href='/contact/#{contact.id}/edit') Edit