extends ../template/splash-page
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1 Your Contacts
  .row
    .small-7.columns
      h3 ADD Contact
    .small-1.columns
      a#show-contactForm(href='/contact/new').button.expand.radius.alert +
  .row
    .small-12.columns
      #contact-display
        each contact in contacts
          .small-6.columns
            .contact-wrapper
              h1.name= contact.name
              h4.numberh4 Number::
              h6.number= contact.number
              .small-4.columns
                form(action='/contact/#{contact.id}', method='get')
                      button.expand.small.radius.alert(type='submit') Details
              .small-4.columns
                form(action='/contact/#{contact.id}', method='post')
                      input(type='hidden', name='_method', value='delete')
                      button.expand.small.radius.alert(type='submit') Delete
              .small-4.columns
                a.button.expand.small.radius.alert(href='/contact/#{contact.id}/edit') Edit

