extends ../template/splash-page
include ../mixins/form-helper

block content
  #the-application(class=user ? '' : 'hidden')
    .row
      .small-12.columns
        .contact-indiviual
          h1.name= contact.name
          h4.titles Contact Number:
          p.number= contact.number
          h4.titles Address:
          p.address= contact.address
          h4.titles Email:
          p.email= contact.email
          h4.titles Birthday:
          p.birthday= contact.birthday
          a(href='/contact').button.expand.alert.small Contacts






